<ion-header>
  <ion-toolbar color="primary">
    <ion-back-button defaultHref="/books" slot="start"></ion-back-button>
    <ion-title>{{ book?.title }}</ion-title>
    <ion-title *ngIf="!book">Nuevo libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-app-loading-feedback [state]="state" (retryEvent)="loadAgain()">
    <form [formGroup]="bookForm" (submit)="submitBookForm()">
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Language</ion-label>
        <ion-input formControlName="language"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Edition</ion-label>
        <ion-input formControlName="edition"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Publisher</ion-label>
        <ion-input formControlName="publisher"></ion-input>
      </ion-item>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-button type="submit" class="subBtn" [disabled]="bookForm.invalid" #submitButton>
          <ion-icon slot="start" name="checkmark"></ion-icon>
        </ion-button>
      </ion-fab>
    </form>
  </app-app-loading-feedback>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="book">  
      <ion-fab-button color="danger" [disabled]="bookForm.invalid" (click)="askDeleteBook()" #deleteButton>  
        <ion-icon name="trash"></ion-icon>  
      </ion-fab-button>  
  </ion-fab>
</ion-content>
