<div>
  <h1>Rating</h1>
  <ion-button color="success" (click)="like()">
      <ion-icon name="thumbs-up"></ion-icon> {{ likes }}
  </ion-button>
  <ion-button color="danger" (click)="unlike()">
      <ion-icon name="thumbs-down"></ion-icon> {{ unlikes }}
  </ion-button>
  <p>{{ rating }}/10</p>
</div>

<div>
  <h1>Expanable content</h1>
  <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-button color="primary" (click)="toggleCard()">
            <ion-icon name="remove" *ngIf="toggle; else Untoggle"></ion-icon>
            <ng-template #Untoggle>
              <ion-icon name="add"></ion-icon>
            </ng-template>
          </ion-button>
          Title
        </ion-card-title>
      </ion-card-header>
    
      <ion-card-content *ngIf="toggle">
        Keep close to Nature's heart... and break clear away, once in awhile,
        and climb a mountain or spend a week in the woods. Wash your spirit clean.
      </ion-card-content>
    </ion-card>
</div>

<div>
  <h1>User form</h1>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>Birthdate</ion-label>
      <ion-datetime displayFormat="DD MM YY"></ion-datetime>
    </ion-item>

  <ion-item>
    <ion-label>Sex</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="m">Male</ion-select-option>
      <ion-select-option value="f">Female</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
      <ion-label position="floating">Phone</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
</div>